@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
   --color1: #dbdbdb;
   --color2: rgb(0, 0, 0);
}

body, html {
   font-family: "Courier Prime", monospace;
   background-color: var(--color1);
}

@media print {
  body * {
    visibility: hidden;
  }

  #docs, #docs * {
    visibility: visible;
  }

  #docs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
